.container {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  width: 850px;
  margin: 0 auto;
}

.black-container {
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 700px;
  border-radius: 5px;
}

.header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.tarif-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.left-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.line {
  border-bottom: 1px solid white;
  margin-top: 10px;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.cost {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
